Exercise and Task 4.7
Import Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#import the ords_prods_merged dataframe 
df_ords_merged = pd.read_pickle(r'/Users/samuelcallender/Documents/ Instacart Basket Analysis/02 Data/Prepared Data/orders_products_merged.pkl')

In [3]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [4]:
#create a subset
df = df_ords_merged[:1000000]

In [5]:
#define a function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [6]:
#apply the function
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/82/hwgv6lvn7x18xkthsy6ltc5c0000gn/T/ipykernel_11992/748875041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [7]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [8]:
df['prices'].max()

14.8

Using the loc() function

In [10]:
df_ords_merged.loc[df_ords_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_ords_merged.loc[(df_ords_merged['prices'] <= 15) & (df_ords_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df_ords_merged.loc[df_ords_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df_ords_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21861997
Low-range product     10126366
High-range product      417678
Name: price_range_loc, dtype: int64

If statement with For-loops

In [14]:
df_ords_merged['order_day_of_week'].value_counts(dropna = False)

0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: order_day_of_week, dtype: int64

In [15]:
result = []

In [16]:
for value in df_ords_merged['order_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [17]:
df_ords_merged['busiest_day'] = result

In [18]:
df_ords_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22417684
Busiest day        6204404
Least busy         3783953
Name: busiest_day, dtype: int64

In [19]:
df_ords_merged.shape

(32406041, 19)

Task 4.7

#Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [20]:
df_ords_merged['order_day_of_week'].value_counts(dropna = False)

0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: order_day_of_week, dtype: int64

In [21]:
result2 = []

In [22]:
for value in df_ords_merged['order_day_of_week']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [23]:
#Create a new column for this using a suitable method.
df_ords_merged['busiest_days'] = result2

In [24]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

Check the values of this new column for accuracy. Note any observations in markdown format.

In [25]:
#check the values
df_ords_merged['busiest_days'].value_counts(dropna = False)

Regularly days    12916527
Busiest days      11864860
Slowest days       7624654
Name: busiest_days, dtype: int64

In [26]:
df_ords_merged.shape

(32406041, 20)

When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.

In [27]:
#Create a new column containing these labels called “busiest_period_of_day".
counts = df_ords_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [28]:
counts

    hour   counts
0     10  2761862
1     11  2736242
2     14  2689251
3     15  2662246
4     13  2661057
5     12  2618613
6     16  2535313
7      9  2454273
8     17  2087721
9      8  1718182
10    18  1636566
11    19  1258352
12    20   976182
13     7   891082
14    21   795658
15    22   634247
16    23   402335
17     6   290500
18     0   218786
19     1   115706
20     5    87964
21     2    69377
22     4    53245
23     3    51281

In [29]:
orders = list(df_ords_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [30]:
orders

[272571.5, 1117267.0, 2556138.0]

Create periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.

In [31]:
#most orders
os_ords = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

In [32]:
#average orders
avg_ords = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [33]:
#fewest orders
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

Indexes for labels

In [34]:
index_os_ords = df_ords_merged['order_hour_of_day'].isin(os_ords)

In [35]:
index_avg_ords = df_ords_merged['order_hour_of_day'].isin(avg_ords)

In [36]:
index_few = df_ords_merged['order_hour_of_day'].isin(few)

Creating new columns

In [37]:
df_ords_merged.loc[index_os_ords,'busiest_period_of_day'] = 'Most orders'

In [38]:
df_ords_merged.loc[index_avg_ords,'busiest_period_of_day'] = 'Average orders'

In [39]:
df_ords_merged.loc[index_few,'busiest_period_of_day'] = 'Fewest orders'

In [40]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,2,2,473747,1,prior,3,3,12,21.0,196,...,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,4,4,431534,1,prior,5,4,15,28.0,196,...,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [41]:
df_ords_merged.shape

(32406041, 21)

Print the frequency for this new column.

In [42]:
df_ords_merged['busiest_period_of_day'].value_counts()

Most orders       16129271
Average orders    15680411
Fewest orders       596359
Name: busiest_period_of_day, dtype: int64

Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [43]:
#export
df_ords_merged.to_pickle(r'/Users/samuelcallender/Documents/ Instacart Basket Analysis/02 Data/Prepared Data/orders_products_merged_updated.pkl')